<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="language" value="english"/>
    <add key="ExchangeRatesFileUrl" value="http://www.bnr.ro/nbrfxrates.xml"/>
    <add key="YearlyExchangeRatesFileUrl" value="http://bnr.ro/files/xml/years/nbrfxrates{0}.xml"/>
    <add key="FontTheme" value="Lucida Console"/>
    <add key="DateFormat" value="dd.MM.yyyy"/>
    <add key="DoubleFormat" value="n2"/>
    <add key="DoubleFormatFourDigits" value="n4"/>
    <add key="RoundingDigits" value="2"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="5" value="autologin=False;remembername=True;autoname=daniel;autopassword=21232f297a57a5a743894a0e4a801fc3"/>
  </appSettings>
  <connectionStrings>
    <add name="fdpConnectionString" connectionString="server=localhost;port=3306;user id=root;password=eu@1178bb@0304;database=fdp_companies;Persist Security Info=True;" providerName="MySql.Data.MySqlClient"/>
    <add name="remoteConnectionString" connectionString="server=89.42.216.102;port=3306;user id=rtermo93;password=4aaa75e6f23ad;database=rtermo93_fdp_0002;Persist Security Info=True;" providerName="MySql.Data.MySqlClient"/>
    <add name="FDP_Client.Properties.Settings.fdp_0002ConnectionString" connectionString="Dsn=mysql;description=mysql;server=localhost;uid=root;pwd=eu@1178bb@0304;database=fdp_0002;port=3306;" providerName="System.Data.Odbc"/>
    <add name="FDP_Client.Properties.Settings.fdp_0002ConnectionString1" connectionString="server=localhost;User Id=root;password=eu@1178bb@0304;Persist Security Info=True;database=fdp_0002;" providerName="MySql.Data.MySqlClient"/>
    <add name="FDP_Client.Properties.Settings.fdp_0002ConnectionString2" connectionString="Dsn=datasetpayments;description=mysql;server=localhost;uid=root;pwd=eu@1178bb@0304;database=fdp_0002;port=3306;" providerName="System.Data.Odbc"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
